* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
  .main-title{
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid #0b4d83;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    color: #2196f3;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  ::-webkit-scrollbar {
    width: 11px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(121, 98, 98); 
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: #2196f3;
    border-radius: 3px;
  }
a{
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nv{
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
.nv .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.nv .logo h1{
  font-size: 30px;
  font-weight: 800;
  color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .nv .logo h1{
     display: none;
  }
}
.nv ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nv ul li a{
  font-size: 19px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 0 30px;
  overflow: hidden;
  position: relative;
}
.nv ul li a:hover{
  color: #2196f3;
}
.landing{
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #efeaea6b;
}
.landing .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing .text{
  margin-right: 50px;
}
.landing .text h1{
  font-size: 39px;
  color: #2196f3;
  font-weight: 800;
  letter-spacing: -2px;
}
.landing .text p{
  font-size: 17px;
  font-weight: 400;
  color: #777;
  line-height: 2;
}
.landing .button{
  margin-top: 30px;
}
.landing .button a{
  background-color: white;
  padding: 12px;
  border: 3px solid #2196f3;
  border-radius: 9px;
  color: #2196f3;
}
.landing .button a:hover{
  background-color: #2196f3;
  color: white;
}
.landing img{
  width: 100%;
}
@media (max-width: 768px) {
   .landing img{
      display: none;
   }
}
.work{
  padding-bottom: 60px;
  padding-top: 60px;
}
.work .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work .image img{
  max-width: 100%;
  margin-right: 130px;
}
@media (max-width: 768px) {
     .work .image img{
         display: none;
      }
  }
.work .box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeaea6b;
  padding: 20px;
  margin-bottom: 19px;
  border: 3px solid #dbd7d787;
  border-radius: 10px;
}
.work .box:hover{
  background-color: white;
}
.work .box img{
  width: 64px;
  margin-right: 50px;
}
.work .box h2{
  margin: 0;
  font-size: 22px;
  font-weight: 800;
  color: #2196f3;
}
.work .box p{
  margin-bottom: 0;
  line-height: 1.9;
  color: #777;
}
.footer-end{
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.footer-end span{
  color: #2196f3;
  font-weight: 800;
}